<% include ./partials/header %>
<form action = "/login" method = "POST">
    <div>
        <input type = "text" name = "username" placeholder = "username">
    </div>
    
    <input type = "password" placeholder = "password"> 
    <input type = "submit">
</form>
<% include ./partials/footer %>